.top-background{
    background-image: url("../images/top-bg.jpg");
    background-size: cover;
    height: 50px;
}
.landing{
    padding: 10px;
    height: 500px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 109, 15,0.4);
    margin-bottom: 20px;
    background-image: url("../images/bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;

}
#joint{
    font-family: 'Grey Qo', cursive;
}
.welcome{
    width: 400px;
}
.landing #land{
    border-radius: 10px;
}
#logo{
    height: 100px;
    background-color: rgb(250, 109, 15);
}
#orderbtn{
    border-radius: 10px;
    margin:10px;
    height: 50px;
}
#orderbtn a{
    text-decoration: none;
    color: white;
}
#plus {
  color: rgb(250, 109, 15);
  font-size: 100px;
}
#orderpizza{
    padding: 10px;
    background-color: rgb(250, 109, 15,0.4);
}
.pizza img{
    height: 200px;
    width:300px;
}
.card-body{
    height: auto;
}

i{
    color: red;
    font-size: 50px;
    margin: 5px;
}
.delivery_details{
    display: none;
}
.del{
    margin-left: 20px;
}
.submitbutton{
    background-color: orange;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
}
 #orderr{
    background-color: orange;
    border-radius: 10px;
    color: white;
    margin-left: 100px;
}
#clear{
    border-radius: 10px;
    background-color: red;
    color: white;
}
.contact-us{
    height: 400px;
    background-color: rgb(250, 109, 15,0.5);
    padding-top:30px ;
}
#name, #email{
    width: 40%;
    margin:20px;
    background:transparent;
    border: 1px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
}
#message{
    width: 80%;
    height: 100px;
    margin-left: 30px;
    background:transparent;
    border: 1px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0px;
    color: white;
}
::placeholder {
    color: white;
    text-align: start;
}
#msg{
    margin: 20px;
    background-color: rgb(190, 190, 190);
    color: white;
    border-radius: 5px;
}
footer{
    background-color: rgb(250, 109, 15,0.5);
    margin-bottom: 20px;
}