.top-background{
    background-image: url("/images/top-bg.jpg");
    background-size: cover;
    height: 100px;
}
.animations{
    height: 200px;
    background-image: url("/images/pepperoni/pep2.jpg");
    background-size: cover;
}
.animations img{
    height: 150px;

}
.animations h2{
    color: rgb(250, 109, 15);;
}
#plus {
  color: rgb(250, 109, 15);
  font-size: 100px;
}
.pizza img{
    height: 200px;
    width:200px;
}
/*.card-footer{
    display: none;
}*?/